<img class="menu-image" src="https://source.unsplash.com/{{model.unsplashId}}/1600x900" alt="{{model.name}}" />
<h3>{{model.name}}</h3>

<p>Rating: {{model.rating}}</p>
<p>{{model.description}}</p>

{{outlet}}